.mmodal {
    z-index: 1000;
    position: fixed;
    top: 30%;
    left: 30%;   
}

.mmodal-body {
    border: 10px groove #3306af;
    background: #fff;
    margin: 0px;
    padding: 20px;
}

.mmodal-background {
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.95;
}

.control-button{
    margin-right: 10px;
    background-color: darkblue;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 1em;
}

.input-data-block {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#input-type-block {
    list-style-type: none;
    padding-left: 0px;
}

.input-data-label {
    display: inline-block;
    width: 90px;
    text-align: left;
}
.type-label{
    color: white;
    padding-left: 10px;
    padding-right: 10px;    
}

.input-data-group{
    margin-bottom: 10px;
}

.input-data-textbox{
  width: 99%;
}

.input-data-textarea{
    width: 650px;
    height: 100px;
    word-break: keep-all;
}

#header-block{
    overflow: hidden;
}

#header-caption-block {
	float: left;
	width: 95%;
    text-align: center;
}

#header-button-block {
	float: right;
    margin-top: 5px;
}

#close-button {
    margin-right: 0px;
    height: 20px;
    width: 20px;
}