button {
  color: white;
  border: none;
  background-color: dodgerblue;
  margin: 0.2em 1em;
  padding: 1em 0.5em;
  border-radius: 5px;
  cursor:pointer;
}

button:disabled,
button[disabled]{
  background-color: lightgray;
  cursor: default;
}

.search {
  margin: 1em;
  font-size: larger;
}

.search input {
  margin: 0.5em;
}

.newsGroup {
  display: flex;
  flex-direction: row;
}
