<div class="post-modal-window" [formGroup]="newsPostForm">
  <div>
    <label for="inputDate">Дата</label>
    <input
      type="date"
      #date
      id="date"
      name="inputDate"
      formControlName="dateControl"
      [value]="newsPost?.uploadDate"
      (change)="onDateInputChanged(date.value)"
    />
    <ng-container
      [ngTemplateOutlet]="error"
      [ngTemplateOutletContext]="{
        show: newsPostForm.get('dateControl')?.errors
      }"
    >
    </ng-container>
  </div>

  <div>
    <label for="inputTitle">Заголовок</label>
    <input
      type="text"
      #title
      id="title"
      name="inputTitle"
      formControlName="titleControl"
      [value]="newsPost?.title ?? 'title'"
      (change)="onTitleInputChanged(title.value)"
    />
    <ng-container
      [ngTemplateOutlet]="error"
      [ngTemplateOutletContext]="{
        show: newsPostForm.get('titleControl')?.errors
      }"
    >
    </ng-container>
  </div>

  <div>
    <label for="inputText">Текст</label>
    <input
      type="text"
      #text
      id="text"
      name="inputText"
      formControlName="textControl"
      [value]="newsPost?.text ?? 'text'"
      (change)="onTextInputChanged(text.value)"
    />
    <ng-container
      [ngTemplateOutlet]="error"
      [ngTemplateOutletContext]="{
        show: newsPostForm.get('textControl')?.errors
      }"
    >
    </ng-container>
  </div>

  <div>
    <app-news-radio-control
      formControlName="radioControl"
    ></app-news-radio-control>
    <ng-container
      [ngTemplateOutlet]="error"
      [ngTemplateOutletContext]="{
        show: newsPostForm.get('radioControl')?.errors
      }"
    >
    </ng-container>
  </div>

  <div>
    <input
      class="button"
      type="button"
      (click)="onEditSave()"
      value="Сохранить"
      *appPermissionDirective="userPermissions"
      [disabled]="!newsPostForm.valid"
    />
    <input class="button" type="button" (click)="onCancel()" value="Отмена" />
  </div>
</div>

<ng-template #error let-show="show">
  <div *ngIf="show">
    <span class="errorText">Поле должно быть заполнено</span>
  </div>
</ng-template>
