.button {
    margin: 16px;
    cursor: pointer;
}
.post-modal-window {
    background-color: yellowgreen;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.flex-container { display: flex;}

span{
    font-weight: bold;
}