<div style="margin-bottom: 5px">
  <input type="text" placeholder="Поиск" style="width: auto" (keyup)="this.keyUp.next($event)" />
</div>

<button (click)="this.onAdd()">Добавить</button>
<button (click)="this.onDeleteSelected()" [disabled]="!(this.isSomeItemSelected$ | async)" *appPermission="'deleteItem'" >Удалить</button>


<div style="margin-top: 10px;">
  <div *ngFor="let _ of ((this.newsTabs$ | async) ?? [])[0]; let i = index" style="width: 350px; float: left;">
    <div>Колонка {{i + 1}}</div>
    <ng-container *ngFor="let newItem of this.newsTabs$ | async">
      <app-news-item
        *ngIf="!!newItem[i]"
        [newsItem]="newItem[i]"
        (removeItem)="this.onRemoveItem($event)"
        (editItem)="this.onEditItem($event)"
        (contextmenu)="this.onContextMenu($event)">
      </app-news-item>
    </ng-container>
  </div>
</div>

<app-context-menu
  #contextMenuComponent
  (selectAll)="this.onSelectAll()">
</app-context-menu>
