<div *ngIf="isEditorOpen" style="position: absolute; left: 50%; top: 50%; z-index: 999;  margin-left: -150px; margin-top: -150px;" >

    <ng-content></ng-content>

    <div style="width: 300px; border: 2px solid lightgray; margin-bottom: 10px; padding-left: 5px;">

    <div [formGroup]="editForm">
        <div>
            <div>Дата:</div>
            <input type="date" formControlName="date">
            <div *ngIf=date?.invalid style="color: red;">Дата обязательна для заполнения</div>
        </div>
        <div>
            <div>Заголовок:</div>
            <input type="text" formControlName="title">
            <div *ngIf=title?.invalid style="color: red;">Введите заголовок новости</div>
        </div>
        <div>
            <div>Текст:</div>
            <input type="text" formControlName="text">
            <div *ngIf=text?.invalid style="color: red;">Текст должен быть не менее 5 символов</div>
        </div>

        <div>Тип:</div>
        <app-news-type formControlName="newsType"></app-news-type>
        <div *ngIf=newsType?.invalid style="color: red;">{{newsTypeError}}</div>

        <!--    <div *ngIf=editForm.get(newsType).hasError(required) style="color: red;">{{newsType?.errors|json}}}</div>-->
        <!--<div *ngIf=newsType?.invalid style="color: red;">{{newsType?.errors['[customValidator]'].message}}}</div>-->
        <!--<div *ngIf=newsType?.invalid style="color: red;">{{newsType?.errors|json}}}</div>-->

        <div style="margin-bottom: 5px; text-align: right;">
            <br>
            <button *appUserRightsStr=userRights.isUsercanEditNews style="display: inline-block;" (click)="clickPostEditorSaveButton(edit_post) " class="blueButton" [disabled]="!editForm.valid"   >Сохранить</button>
            <div style="width: 10px; display: inline-block;"></div>
            <button style="display: inline-block; " (click)="clickPostEditorCancelButton()" class="blueButton">Отмена</button>
        </div>