<div>
    <div class="card" [ngClass]="{'selected-card ':singlePost?.isSelected??false}">
        <input type="checkbox" [value]="singlePost.isSelected" (click)='onSelect()'>
        <span >{{singlePost.title}}</span>
        <span>{{singlePost.text}}</span>
        <br>
        <span>{{singlePost.uploadDate | date}}</span>
        <div>
            <input class=".button" type="button" (click)="onEdit()" value="Редактировать" />
            <input class=".button" type="button" (click)="onDeletePost()" [disabled]="!singlePost.isSelected" value="Удалить"/>
        </div>
    </div>
</div>