$blue: #6bc9e6;
$brown: #b0938f;
$black: #000000;

$margin: 16px;

p{
    word-break: break-all;

    clip: {
        overflow: hidden;
    };
}
.card {
    padding: $margin / 2;
    margin: $margin;
    background-color:  $blue;
    border-color: $black;
}

.selected-card {
    padding: $margin / 2;
    margin: $margin;
    background-color:  $brown;
    border-color: $black;
}

.button{
    margin-left: $margin;
    cursor: pointer;
}

.tag{
    position: absolute;
    left: 80%;
}
.tag-short{
    border: 3px solid black;
}
.tag:hover .tooltip{
    visibility: visible;
}

.tooltip{
    visibility: hidden;
}