<div >
    <div style="width: max-content; border: 2px solid gray; margin-left: 10px; padding: 10px; ">
        <button (click)="onNewPost()">Добавить</button>
        <br><br>
        <app-single-post (editPost)="onEditPost($event)" (deletePost)="onDeletePost($event)" (checkPost)="onCheckPost($event)" *ngFor="let item of informationList" [single_post_data]="item" ></app-single-post>
    </div>

    <div style="position: absolute; left: 50%; top: 50%; z-index: 999;  margin-left: -150px; margin-top: -150px;" [style.visibility] ="isEditorOpen?'visible':'hidden'" >
        <app-post-editor (savePost)="onSavePost($event)" (cancelEditPost)="onCancelEditPost()" [edit_post_data] = editedPost></app-post-editor>
    </div>

</div>