/* You can add global styles to this file, and also import other style files */
.newsButton {
    background-color:steelblue;
    border-radius: 5px 5px;
    margin: 3px;
    border: 0px;
    height: 25px;
    font-weight: bold;
    color: white;
    transition-duration: 0.4s;
}

.newsButton:hover {
    background-color: lightblue; /* Green */
    color: steelblue;
  }

  .newsButton:disabled {
    background-color: lightgray;
    color: black;
}


.modalWindowHeader {
  background: steelblue;
  height: 30px;
}

.closeButton {
  border: 0px;
  background: steelblue;
  float: right;
  position: relative;
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
}

.closeButton:hover {
  background-color: lightblue; /* Green */
  color: steelblue;
}

.headerTitle {
  border: 0px;
  float: left;
  position: relative;
  margin: 5px 0px 0px 10px;
  /*padding: 5px 0px 0px 10px;*/
  font-weight: bold;
  color: white;
}

.errorText {
  color: red;
  width: 200px;
}