.mainDiv {
    width: 400px;
    height: auto;
    outline: 2px solid black;
    margin: 10px;
    padding: 10px;
}

button {
    font-weight: bold;
    font-size: 10px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #3D8BCD;
    color: white;
    margin-right: 5px;
    text-align: center;
}

button:disabled {
    background-color: lightgray;
}

.activeState {
    background-color: gray;
}

.disabledState {
    background-color: white;
}

.newsType {
    margin-top: 3px;
    margin-right: 3px;
    float: right;
}

.newsType .tooltiptext {
    visibility: hidden;
    width: auto;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    background: khaki;
    margin-left: 4px;
  }
  
  .newsType:hover .tooltiptext {
    visibility: visible;
  }