<button (click)="this.onAdd()">Добавить</button>
<button (click)="this.onDeleteSelected()" [disabled]="!this.isSomeItemSelected" *appPermission="this.perms; action: 'deleteItem'" >Удалить</button>
<app-news-item
  *ngFor="let newItem of this.news"
  [newsItem]="newItem"
  (removeItem)="this.onRemoveItem($event)"
  (editItem)="this.onEditItem($event)"
  (contextmenu)="this.onContextMenu($event)">
</app-news-item>

<app-news-item-modal #modalComponent
  (save)="this.onSaveModal($event)">
</app-news-item-modal>

<app-context-menu
  #contextMenuComponent
  (selectAll)="this.onSelectAll()">
</app-context-menu>
