<button (click)="onAdd()">Добавить</button>
<button (click)="onDeleteSelected()" [disabled]="!this.isSomeItemSelected" *appPermission="perms; action: 'deleteItem'" >Удалить</button>
<app-news-item
  *ngFor="let newItem of news"
  [newsItem]="newItem"
  (removeItem)="onRemoveItem($event)"
  (editItem)="onEditItem($event)"
  (contextmenu)="onContextMenu($event)"
  (itemSelectionChanged)="onItemSelectionChanged($event)">
</app-news-item>

<app-news-item-modal #modalComponent
  (save)="onSaveModal($event)">
</app-news-item-modal>

<app-context-menu
  #contextMenuComponent
  (selectAll)="onSelectAll()">
</app-context-menu>
