<div>Тип:</div>
<div>
  <button [class]="politicClass" (click)="selectPolitic()">Политика</button>
  <button [class]="tourismClass" (click)="selectTourism()">Туризм</button>
  <button [class]="economicClass" (click)="selectEconomic()">Экономика</button>
  <button [class]="scienceClass" (click)="selectScience()">Наука</button>
  <button [class]="internetClass" (click)="selectInternet()">Интернет</button>
</div>
<div *ngIf="typePostControl?.errors">
  <ng-container *ngFor="let error of typePostControl?.errors | validationErrors">
    <div class="divError" >{{error.message}}</div>
  </ng-container>
</div>
