<div>Тип:</div>
<div>
  <ng-container *ngFor="let item of postTypes">
    <button [appPostTypeStyles]="item" [class]="((value === item) ? (item | postTypeBtnStyle) + ' selectedStyle ' : item | postTypeBtnStyle)" 
      [style]="(value === item) ? 'border: 2px' : 'border: 0px'"
      (click)="selectValue(item)">{{item | postTypePipe}}</button>
    <!-- <div [appPostTypeStyles]="item" (click)="selectValue(item)">{{item | postTypePipe}}</div> -->
  </ng-container>
</div>
<div *ngIf="typePostControl?.errors">
  <ng-container *ngFor="let error of typePostControl?.errors | validationErrors">
    <div class="divError">{{error.message}}</div>
  </ng-container>
</div>
