<div class="mainClass" [formGroup]="formGroupProfile">
  <div>
    <label [attr.for]="profileInputNameUser">Имя:</label>
    <input class="inputStyle" type="text" #profileInputNameUser formControlName="profileNameUserControl" />
    <div *ngIf="formGroupProfile.get('profileNameUserControl')?.errors">
      <div class="divError"
        *ngFor="let error of formGroupProfile.get('profileNameUserControl')?.errors | validationErrors">
        {{error.message}}</div>
    </div>
  </div>
  <div>
    <label [attr.for]="profileInputSurnameUser">Фамилия:</label>
    <input class="inputStyle" type="text" #profileInputSurnameUser formControlName="profileSurnameUserControl" />
    <div *ngIf="formGroupProfile.get('profileSurnameUserControl')?.errors">
      <div class="divError"
        *ngFor="let error of formGroupProfile.get('profileSurnameUserControl')?.errors | validationErrors">
        {{error.message}}</div>
    </div>
  </div>
  <div>
    <label [attr.for]="profileInputEmailUser">Email:</label>
    <input class="inputStyle" type="text" #profileInputEmailUser formControlName="profileEmailUserControl" />
    <div *ngIf="formGroupProfile.get('profileEmailUserControl')?.errors">
      <div class="divError"
        *ngFor="let error of formGroupProfile.get('profileEmailUserControl')?.errors | validationErrors">
        {{error.message}}</div>
    </div>
  </div>
  <div class="divButtonsStyle">
    <button class="buttonStyle" (click)="saveProfileHandler()">Сохранить</button>
    <button class="buttonStyle" (click)="cancelProfileHandler()">Отмена</button>
  </div>
</div>
<app-confirm-dialog (clickIsRedirectUserEvent)="isRedirectUserHandler($event)"></app-confirm-dialog>
