li {
  display: inline-block;
  margin: 10px;
}
a {
  color: wheat;
}
a:hover {
  background-color: slategray;
}
.header-main {
  background-color: darkslategrey;
}
.is-selected {
  font-weight: bold;
  color: wheat;
  background-color: darkblue;
}
