button {
    font-weight: bold;
    font-size: 10px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #3D8BCD;
    color: white;
    margin-right: 5px;
    text-align: center;
}

button:disabled {
    background-color: lightgrey;
}

.news_modal_label {
    text-align: left;
}

.news_modal_input {
    height: 25px;
    width: 220px;
    border-radius: 8px;
}