<div>
    <button class="news_list_changing" (click)="addNewItem()">Добавить</button>
    <app-news-maker *ngIf="isVisibleModalDialog" (onCancelAction)="isVisibleModalDialog=false" (onAddAction)="saveNewItem()">
        <ng-container ngProjectAs="news_content_title">
            <label>{{edit_item.id == null ? 'Добавить новость' : 'Изменить новость'}}</label>
        </ng-container>
        <ng-container ngProjectAs="news-content-body">
            <div>
                <label class="news_modal_label">Дата:</label>
                <p><input type="datetime-local" class="news_modal_input" [value]="edit_item.localDateStr" (input)="edit_item.date=tryParseDate($event)"></p>
            </div>
            <div>
                <label class="news_modal_label">Заголовок:</label>
                <p><input type="text" class="news_modal_input" [value]="edit_item.title" (input)="edit_item.title=onTextChanged($event)" placeholder="Введите заголовок новости"></p>
            </div>
            <div>
                <label class="news_modal_label">Текст:</label>
                <p><input type="text" class="news_modal_input" [value]="edit_item.text" (input)="edit_item.text=onTextChanged($event)" placeholder="Введите текст новости"></p>
            </div>
        </ng-container>
    </app-news-maker>
</div>
<app-news-item *ngFor="let item of items" [data_item]="item" (onEditNews)="editNewsItem($event)" (onDeleteNews)="deleteNewsItem($event)"></app-news-item>