.buttonStyle {
    color: white;
    background-color: dodgerblue;
    margin: 10px;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 5px;
}

.buttonStyle:disabled {
    color: white;
    background-color: darkgrey;
    border-radius: 5px;
}

.inputStyle {
  border: 1px solid gray;
  border-radius: 5px;
  height: 16px;
  padding: 5px;
  width: 200%px;
  margin: auto 10px auto auto
}

.userNameCurrentStyle{
  display: inline;
}

