label {
    margin-left: 1em;
    font-size: larger;
}
  
p {
    margin-left: 2em;
}
  
.news {
    border: solid;
    padding: 1em;
    margin: 1em;
}

.type {
    float:right;
    font-size: larger;
    padding: 0.3em;
}

.type .tooltip {
    visibility: hidden;
    text-align: center;
    position: absolute;
    border:  solid 1px black;
    border-radius: 6px;
    z-index: 1;
    transform: translateX(-110%);
    background-color: white;
    padding: 0.3em;
}

.type:hover .tooltip {
    visibility: visible;
}

button {
    color: white;
    border: none;
    background-color: dodgerblue;
    margin: 0.2em;
    padding: 1em 0.5em;
    border-radius: 5px;
    cursor:pointer;
  }
  
  button:disabled,
  button[disabled]{
    background-color: lightgray;
    cursor: default;
  }