<div class="news" [style.background-color]="isChecked ? 'lightgrey' : 'white'" [style.border-color]="news.newsType.color"> 
    <input type="checkbox" id="checkbox" [checked]="isChecked" (change)="onChange()">
    <label>{{news.title}}</label><span class="type" [style.color]="news.newsType.color">{{news.newsType.text}}</span>
    <p>{{news.dateTime}}</p>
    <p>{{news.text}}</p>
    <button (click)=clickEditButton()>Редактировать</button><button [disabled]="!isChecked" (click)=clickDeleteButton()>Удалить</button>
</div>
