.edit-news {
    background-color: white;
    margin: 10px auto;
    width: 350px;
    height: 270px;
    border: 1px solid #000;
}

.btn {
    margin: 20px 0px 20px 30px;
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background: #2C78C0;
    font-family: Arial;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn-line{
    white-space:nowrap
}

div {
    margin: 10px;
}

.btn-line div{
    width:auto;
    display:inline-block;
    margin: 10px 20px 0px 0px ;
    padding: 0px 10px 0px 10px;
}

