.modalWindow {
    border: 1px solid black;  
    width: fit-content;
    height: auto; 
    z-index: 10;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 2px 2px 3px #999;
    -moz-box-shadow: 2px 2px 3px #999;
    overflow: hidden;
   }
   
.modalWindowContent {
    padding: 10px 20px 20px 20px;
   }

.modalWindowContent p {
    margin: 5px 0px;
}

.modalWindowContent .newsButton {
    margin: 10px 5px 0px 0px;
}

.bigShadow {
    z-index: 5;
    background: lightgray;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    overflow: hidden;
}

.modalWindowHeader {
    background: steelblue;
    height: 30px;
}

.closeButton {
    border: 0px;
    background: steelblue;
    float: right;
    position: relative;
    height: 30px;
    width: 30px;
    font-weight: bold;
    color: white;
    transition-duration: 0.4s;
}

.closeButton:hover {
    background-color: lightblue; /* Green */
    color: steelblue;
  }

.headerTitle {
    border: 0px;
    float: left;
    position: relative;
    margin: 5px 0px 0px 10px;
    /*padding: 5px 0px 0px 10px;*/
    font-weight: bold;
    color: white;
}

.errorText {
    color: red;
    width: 200px;
}