<div class="bigShadow"></div>
<div class="modalWindow">
    <p>Дата</p>
    <input #dateInput type="text" value="{{newsPost?.date ?? ''}}" />
    <p>Заголовок</p>
    <input #titleInput type="text" value="{{newsPost?.title}}" />
    <p>Текст</p>
    <input #textInput type="text" value="{{newsPost?.text}}" />
    <div>
        <button (click)="clickSaveButton(dateInput.value, titleInput.value, textInput.value)">Сохранить</button>
        <button (click)="clickCancelButton()">Отмена</button>
    </div>    
</div>