<div class="newsStyle" [class.grayBackground]="post.isSelected">
    <div class="checkboxStyle">
        <input #checkbox type="checkbox" [checked]="post.isSelected" (change)="selectedPostHandler(checkbox.checked, post)"/>
    </div>
    <div class="postStyle">
        <p class="dateStyle">{{post.date}}</p>
        <p class="titleStyle">Заголовок: {{post.title}}</p>
    </div>
    <div class="postTypeStyle" [appPostTypeSyles]="post.postType" title="{{post.postType | postTypePipe}}">
        <p class="typeStyle">{{post.postType | postTypePipe:0}}</p>
    </div>
    <div class="divButtonStyle">
        <button class="buttonStyle" (click)="editPostHandler()" >Редактировать</button>
        <button *appPostPermission="isShowDeleteButton" class="buttonStyle" [disabled]="!post.isSelected" (click)="deletePostHandler()">Удалить</button>
    </div>
</div>

