.control-button {
    margin-left: 10px;
    background-color: darkblue;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
}

.news-block:after {
    margin-right: 60px;
    display: table-column;
    clear: both;
    content: "";
}

.input-filter-textbox {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    height: 30px;
    font: 1.6em "Fira Sans"
}

.news_content {
    width: auto;
    height: 88%;
    position: absolute;
    overflow: auto;
    display: inline-block;
}

.title_header {
    font: italic 2.0em "Fira Sans";
    margin-top: 0px;
}