<ng-container *ngIf="isVisible">
    <div class="news_modal_back"></div>
    <div class="news_modal_window">
        <div class="news_modal_title">
            <ng-content select="news_content_title"></ng-content>
            <button (click)="cancelAction()">X</button>
        </div>
        <div class="news_modal_body">
            <ng-content select="news-content-body"></ng-content>
            <div>
                <button *appNewsUserRoleRestriction class="news_modal_button" (click)="addAction()">Сохранить</button>
                <button class="news_modal_button" (click)="cancelAction()">Отмена</button>
            </div>
        </div>
    </div>
</ng-container>