.main-menu {
  padding: 10px 0 10px 0;
  background-color: black;
}

.main-menu-item {
  padding: 10px;
  text-decoration: none;
  color: aqua;
}

.main-menu-item.selected {
  background-color: aqua;
  color: black;
}

.main-menu-auth {
  padding: 10px;
  color: cornflowerblue;
  cursor: pointer;
}

.user-name {
  color: cornflowerblue;
  padding: 10px;
}

.user-name:before {
  content: "\2659";
  font-size: 0.8em;
}
