<app-modal-window
  *ngIf="this.isVisible"
  (modalClose)="this.cancel()"
>
  <ng-container ngProjectAs="modal-title">{{this.editedItem.id != -1 ? "Изменить новость" : "Добавить новость"}}</ng-container>
  <ng-container ngProjectAs="modal-inner">
    <ng-container [ngTemplateOutlet]="inputTemplate"
                  [ngTemplateOutletContext]="{
                    inputType: 'datetime-local',
                    label: 'Дата',
                    inputValue: this.editedItem.dateLocal,
                    onChange: this.onDateChange.bind(this)
                  }" >
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputTemplate"
                  [ngTemplateOutletContext]="{
                    inputType: 'text',
                    label: 'Заголовок',
                    inputValue: this.editedItem.head,
                    onChange: this.onHeadChange.bind(this)
                  }" >
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputTemplate"
                  [ngTemplateOutletContext]="{
                    inputType: 'text',
                    label: 'Описание',
                    inputValue: this.editedItem.desc,
                    onChange: this.onDescChange.bind(this)
                  }" >
    </ng-container>
    <ng-container [ngTemplateOutlet]="inputRadioTemplate"
                  [ngTemplateOutletContext]="{
                    label: 'Тип',
                    inputValue: this.editedItem.tag,
                    list: this.tagsList,
                    onChange: this.onTagsChange.bind(this)
                  }" >
    </ng-container>
    <button (click)="this.saveItem()" *appPermission="'edit'">Сохранить</button>
    <button (click)="this.cancel()">Отмена</button>
  </ng-container>
</app-modal-window>

<ng-template #inputTemplate let-inputType = "inputType" let-label = "label" let-inputValue = "inputValue" let-onChange = "onChange" >
  <label>{{label}}:</label>
  <input [type]="inputType" [value]="inputValue" #item (change)="onChange(item.value)" />
</ng-template>

<ng-template #inputRadioTemplate let-label = "label" let-list = "list" let-inputValue = "inputValue" let-onChange = "onChange">
  <label>{{label}}:</label>
  <ng-container *ngFor="let tagItem of list">
    <div class="tags">
      <input type="radio" [id]="tagItem.tag" name="tags" [value]="tagItem.tag"
             [checked]="inputValue == tagItem.tag" #tag (change)="onChange(tag.value)" />
      <label class="tags-label" [appColorizedLabel]="tagItem.color" [for]="tagItem.tag">{{tagItem.text}}</label>
    </div>
  </ng-container>
</ng-template>
