input[type=text],
input[type=datetime-local] {
  margin-bottom: 5px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.tags {
  margin-bottom: 3px;
}

.tags-label{
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
