<span class="title">{{title | firstCapitalLetter}}</span>

<div [formGroup]="newsForm">
    <div>
        <p><label for="date">Дата:</label></p>
        <input id="date" type="datetime-local" formControlName="date">
    </div>
    <div *ngIf="newsForm.get('date')?.errors">
        {{newsForm.get('date')?.errors | json}}
    </div>

    <div>
        <p><label for="title">Заголовок:</label></p>
        <input id="title" type="text" formControlName="title">
    </div>
    <div *ngIf="newsForm.get('title')?.errors">
        {{newsForm.get('title')?.errors | json}}
    </div>

    <div>
        <p><label for="text">Текст:</label></p>
        <input id="text" type="text" formControlName="text">
    </div>
    <div *ngIf="newsForm.get('text')?.errors">
        {{newsForm.get('text')?.errors | json}}
    </div>

    <app-news-type-input formControlName="newsType"></app-news-type-input>
</div>
<p><button (click)="clickSaveNews()" [disabled]="!newsForm.valid" *appUserPermissions="{currUser: currUser, permission: 'allowSave'}">Сохранить</button>
<button (click)="clickCancel()">Отмена</button></p>