<span class="title">{{news && news.id != 0 ? "Изменить новость" : "Добавить новость"}}</span>
<ng-container
*ngTemplateOutlet="newsInput; context: {name:'date', label: 'Дата:', type: 'datetime-local', value:news?.dateTime, isRadio: false}">
</ng-container>
<ng-container
*ngTemplateOutlet="newsInput; context: {name:'title', label: 'Заголовок:', type: 'text', value:news?.title, isRadio: false}">
</ng-container>
<ng-container
*ngTemplateOutlet="newsInput; context: {name:'text',  label: 'Текст:', type: 'text', value:news?.text, isRadio: false}">
</ng-container>
<ng-container
*ngTemplateOutlet="newsInput; context: {name:'newsType', label: 'Тип новости:', type: 'radio', value:'', isRadio: true}">
</ng-container>
<p><button (click)="clickSaveNews()">Сохранить</button>
    <button (click)="clickCancel()">Отмена</button>
</p>

<ng-template #newsInput let-label="label" let-type="type" let-value="value" let-name="name" let-showRadio="isRadio">
    <p><label [for]="name">{{label}}</label></p>
    <input [id]="name" [type]="type" [value]="value" *ngIf="!showRadio" (change)="onChangeInput($event, name)">
    <ng-container *ngIf="showRadio">
        <div *ngFor="let item of newsTypes">
            <input type='radio' name="name" [id]="'newsType' + item.id"
                [value]="item.id" (change)="onChangeInput($event, name)" [checked]="news ? item.id === news.newsType.id : false">
            <label for="'newsType' + item.id" [style.background-color]="item.color">{{item.text}}</label>
        </div>
    </ng-container>
</ng-template>