

    <div [formGroup]="editUserData">
        <div>
            <div>Имя:</div>
            <input type="text" formControlName="name">
            <div *ngIf=name?.invalid style="color: red;">Введите имя</div>
        </div>
        <div>
            <div>Фамилия:</div>
            <input type="text" formControlName="surname">
            <div *ngIf=surname?.invalid style="color: red;">Введите фамилию</div>
        </div>
        <div>
            <div>e-mail:</div>
            <input type="text" formControlName="email">
            <div *ngIf=email?.invalid style="color: red;">Введите e-mail</div>
        </div>
    </div>


<div style="margin: 5px; text-align: left;">
    <button style="display: inline-block;" class="blueButton" (click)="saveClick()" >Сохранить</button>
    <button style="display: inline-block;" class="blueButton" >Отмена</button>
</div>