<div (contextmenu)="onRightClick($event)">
    <button (click)="onAddItem()" class="addButton newsButton">Добавить</button> 
    <button (click)="onDeleteChecked()" class="newsButton" [disabled]="!hasSelectedItems" *appRightsD >Удалить выделенные</button>
    <app-single-post *ngFor="let item of newsList" [single_post]="item" (selectionChanged)="onSelectionChanged()"
        (deleteItem)="onDeleteItem($event)" (editItem)="onEditItem($event)"></app-single-post>
</div>

<app-context-menu #contextMenuComponent (checkEverything)="onCheckEverything()"></app-context-menu>

<app-news-modal-window #newsModalWindowComponent windowTitle="{{mode}}" >    
    <ng-container>
        <ng-container 
            [ngTemplateOutlet]="simpleTemplateInput" 
            [ngTemplateOutletContext]="{
                inputCaption: 'Заголовок', 
                inputValue: selectedPost?.title, 
                onChange: onTitleChange.bind(this)
            }">
        </ng-container>
        <ng-container 
            [ngTemplateOutlet]="simpleTemplateInput" 
            [ngTemplateOutletContext]="{
                inputCaption: 'Текст', 
                inputValue: selectedPost?.text, 
                onChange: onTextChange.bind(this)
            }">
        </ng-container>
         <ng-container 
                [ngTemplateOutlet]="dateTemplateInput" 
                [ngTemplateOutletContext]="{
                    inputCaption: 'Дата', 
                    inputValue: selectedPost.date, 
                    onChange: onDateChange.bind(this)
                }">
        </ng-container>
        <ng-container 
               [ngTemplateOutlet]="radioButtonTemplateInput" 
               [ngTemplateOutletContext]="{
                   inputCaption: 'Тип новости', 
                   inputValue: selectedPost.newsType.id, 
                   inputArray: newsTypes,
                   onChange: onRadioChange.bind(this)
               }">
       </ng-container>

        <p class="errorText" *ngIf="showErrorText">Не удалось сохранить. Проверьте, что все поля заполнены корректно</p>
        
        <button class="newsButton" *appRightsD (click)="onSaveItem()">Сохранить</button>
        <button class="newsButton" (click)="onCancelEditing()">Отмена</button>               
    </ng-container>
</app-news-modal-window>

<ng-template #simpleTemplateInput let-inputCaption="inputCaption" let-inputValue="inputValue" 
    let-onChange="onChange" >
    <label class="label_style">{{inputCaption}}</label>
    <input type='text' [value]="inputValue" #item (change)="onChange(item.value)" >
</ng-template>

<ng-template #dateTemplateInput let-inputCaption="inputCaption" let-inputValue="inputValue" 
    let-onChange="onChange" >
    <label class="label_style">{{inputCaption}}</label>
    <input type='date' [ngModel]="inputValue | date:'yyyy-MM-dd'" 
        #itemDate (change)="onChange(itemDate.value)" >
</ng-template>

<ng-template #radioButtonTemplateInput let-inputCaption="inputCaption" let-inputValue="inputValue" 
    let-onChange="onChange" let-inputArray="inputArray" >
    <div class="radio_buttons_block">
        <div  appBgnD="lightcyan" *ngFor="let i of inputArray">
            <input type='radio' #radioItem (change)="onChange(radioItem.value)" name="newsType" [id]="'newsType' + i.id"  
                [value]="i.id" [checked]="i.id === inputValue"  >
            <label for="'newsType' + item.id">{{i.name}}</label>  
        </div>        
    </div>
</ng-template>