<div (contextmenu)="onRightClick($event)">
    <button (click)="onAddItem()" class="addButton newsButton">Добавить</button> 
    <button (click)="onDeleteChecked()" class="newsButton" [disabled]="!hasSelectedItems" >Удалить выделенные</button>
    <app-single-post *ngFor="let item of newsList" [single_post]="item" (selectionChanged)="onSelectionChanged()"
        (deleteItem)="onDeleteItem($event)" (editItem)="onEditItem($event)"></app-single-post>
</div>

<app-context-menu #contextMenuComponent (checkEverything)="onCheckEverything()"></app-context-menu>

<app-news-modal-window #newsModalWindowComponent >
    <div class="modalWindowHeader"  >
        <span class="headerTitle">{{mode}}</span>
        <button class="closeButton" (click)="onCancelEditing()">X</button>
    </div>
    <ng-container>
        <!--<ng-container 
            *ngTemplateOutlet="simpleTemplateInput; context: {inputCaption: 'Заголовок', inputValue: selectedPost?.title}">
        </ng-container>-->
        <p>Дата</p>
        <input #dateInput type="text" [(ngModel)]="dateStr" [mask]="dateMask" [showMaskTyped]="true" />
        <p>Заголовок</p>
        <input #titleInput type="text" value="{{selectedPost?.title}}" />
        <p>Текст</p>
        <input #textInput type="text" value="{{selectedPost?.text}}" />
        <p>Тип новости</p>    
        <div *ngFor="let item of newsTypes">
            <input type='radio' [(ngModel)]="selectedTypeId"  name="newsType" [id]="'newsType' + item.id"  
                [value]="item.id" >
            <label for="'newsType' + item.id">{{item.name}}</label>        
        </div>

        <p class="errorText" *ngIf="showErrorText">Не удалось сохранить. Проверьте, что все поля заполнены корректно</p>
        
        <button class="newsButton" (click)="onSaveItem(dateInput.value, titleInput.value, textInput.value)">Сохранить</button>
        <button class="newsButton" (click)="onCancelEditing()">Отмена</button>               
    </ng-container>
</app-news-modal-window>

<ng-template #simpleTemplateInput let-inputCaption="inputCaption" let-inputValue="inputValue">
    <p>{{inputCaption}}</p>
    <input type='text' [value]="inputValue" >
</ng-template>