.news {
  padding: 30px;
  background-color: ghostwhite;
  margin: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
}

.wrapper {
  display: grid;
}

.left {
  grid-column-start: 1;
}

.right {
  grid-column-start: 3;
}

.center {
  grid-column-start: 2;
}

.checked {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 20s ease infinite;
  animation: rainbow 20s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.context {
  position: absolute;
}

.search {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  height: 30px;
}
