#contextMenu{
    position: fixed;
    z-index: 1000;
}

::ng-deep .btn-group .contextMenuButton {
    background-color: darkblue;
    border: 1px solid blue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
}
  
::ng-deep .btn-group .contextMenuButton:not(:last-child) {
   border-bottom: none;
}
  
::ng-deep .btn-group .contextMenuButton:hover {
   background-color:cornflowerblue;
}

.mmodal-background {
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    opacity: 0.95;
}
