.errorText {
  color: red;
}
.radio {
  float: left;
}
.tag {
  left: 20%;
}

.selectedTag {
  @extend .tag;
  font-weight: bold;
  visibility: visible !important;
}
.tag-short {
  border: 3px solid black;
}

.tag:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
}
