<div>
  <div *ngFor="let item of controlValue.newsTags | keyvalue; let i = index">
    <div
      class="tag"
      [class.font-weight-bold]="selectedTagKey == i ? true : false"
      (click)="onRadioChange(i)"
      name="radioControl"
      id="radioTag"
      [(ngModel)]="controlValue.selectedTag"
      ngDefaultControl
      #radioTag
    >
      <span [appNewsTagStyleDirective]="item.value" class="tag-short">
        {{ item.value | firstLetterPipe }}</span
      >
      <span
        class="tooltip"
        [ngClass]="selectedTagKey == i ? 'selectedTag' : 'tag'"
      >
        {{ item.value }}</span
      >
    </div>
  </div> 
</div>

