<div class="modal" *ngIf='showEditForm'>
    <div [formGroup]="editForm" class="edit-form">
        <ng-content></ng-content>
        <div class="field">
            <div>
                <label for="date">Дата</label>
            </div>
            <div>
                <input type="datetime-local" id="date" formControlName="date">
            </div>
            <div class="alert-danger" *ngIf="editForm.get('date')?.invalid && editForm.get('date')?.touched">
                Введите корректную дату
            </div>
        </div>
        <div class="field">
            <div>
                <label for="title">Заголовок</label>
            </div>
            <div>
                <textarea id="title" class="text-field" formControlName="title"></textarea>
            </div>
            <div class="alert-danger" *ngIf="editForm.get('title')?.invalid && editForm.get('title')?.touched">
                Укажите заголовок новости
            </div>
        </div>
        <div class="field">
            <div>
                <label for="text">Текст</label>
            </div>
            <div>
                <textarea id="text" class="text-field" formControlName="text"></textarea>
            </div>
            <div class="alert-danger" *ngIf="editForm.get('text')?.invalid && editForm.get('text')?.touched">
                Укажите текст новости
            </div>
        </div>
        <div class="field">
            <app-news-type formControlName="type"></app-news-type>
            <div class="alert-danger" *ngIf="editForm.get('type')?.errors?.['forbiddenNews']">
                Не надо нам тут на такие темы новости писать!
            </div>
        </div>
        <div class="news-actions">
            <button class="news-button" (click)="save()" *showByRoles [disabled]="!editForm.valid">Сохранить</button>
            <button class="news-button" (click)="close()">Отмена</button>
        </div>
    </div>
</div>
