<fieldset class="newsEtitor" ><legend><ng-content></ng-content> <span class="closeIcon" (click)="onClickCloseButton()" title="Закрыть"> × </span> </legend>
     Дата:<br> <input type="date" #newsDate [valueAsDate]="newsDetails?.date">
     
    <br>Заголовок:<br><input type="text"  #newsCaption [value]="newsDetails?.caption">
    <br>Текст:<br><textarea #newsText [value]="newsDetails?.text"></textarea>
    <br><button (click)="onClickSaveNewsButton(newsDate.value, newsCaption.value, newsText.value)"> Сохранить</button>
    <button (click)="onClickCloseButton()">Отмена</button>
</fieldset>
