<button class="buttonStyle" (click)="addNewPostHandler()">Добавить</button>
<app-single-post *ngFor="let item of posts" [post]="item" (deletePostEvent)="deletePostHandler($event)" (editPostEvent)="editPostHandler($event)"></app-single-post>
<app-single-post-detail #popupPostDetailWindow (saveNewPostEvent)="saveNewPostHandler($event)" (closePopupEvent)="closePopupPostDetailsHandler()" [post]="editPost" >
    <app-header-post-detail (CloseDialogHeader)="closePopupPostDetailsHandler()" [titleDialog]="titleDialog" ></app-header-post-detail>
</app-single-post-detail>
