<div *ngIf="isVisible" class="b-popup">
    <div class="b-popup-content">
        <ng-content></ng-content>
        <ng-container *ngTemplateOutlet="inputsPostDetail; context: {post: post}"></ng-container>
        
    </div>
</div>

<ng-template #inputsPostDetail let-post="post">
    <label>Дата:</label>
    <input #datePost class="inputStyle" type="datetime-local" [value]="post.date" />
    <label>Заголовок:</label>
    <input #titlePost class="inputStyle" type="text" [value]="post.title" />
    <label>Текст:</label>
    <input #textPost class="inputStyle" type="text" [value]="post.text" />
    <label>Тип:</label>
    <div><input type="radio" name="typePost" (click)="selectPostType('politic')" [checked]="post.postType+''=='politic'" /><span style="border: 0px;background-color: green;border-radius: 3px;color: white;">политика</span></div>
    <div><input type="radio" name="typePost" (click)="selectPostType('tourism')" [checked]="post.postType+''=='tourism'" /><span style="border: 0px;background-color: darkcyan;border-radius: 3px;color: white;">туризм</span></div>
    <div><input type="radio" name="typePost" (click)="selectPostType('economic')" [checked]="post.postType+''=='economic'" /><span style="border: 0px;background-color: coral;border-radius: 3px;color: white;">экономика</span></div>
    <div><input type="radio" name="typePost" (click)="selectPostType('science')"  [checked]="post.postType+''=='science'" /><span style="border: 0px;background-color: royalblue;border-radius: 3px;color: white;">наука</span></div>
    <div><input type="radio" name="typePost" (click)="selectPostType('internet')" [checked]="post.postType+''=='internet'" /><span style="border: 0px;background-color: gray;border-radius: 3px;color: white;">интернет</span></div>
    <div class="divButtonsStyle">
        <button class="buttonStyle" (click)="savePostHandler(datePost.value, titlePost.value, textPost.value)">Сохранить</button>
        <button class="buttonStyle" (click)="cancelSavePostHandler()">Отмена</button>
    </div>
</ng-template>
