<div (click)="hideContextMenu()">
    <div class='newsList' (contextmenu)="openContextMenu($event)">
        <button class="news-list-button" (click)="openAddNewsDialog()">Добавить</button>
        <button class="news-list-button" [disabled]="!hasSelectedNews()" (click)="removeSelectedNews()" *showByRoles>Удалить</button>
        <div class="newsSearch">
            <label for="search">Поиск: </label>
            <input type="text" id="search" [formControl]="search"/>
        </div>
        <div class="row">
            <div class="column">
                <app-news *ngFor='let news of newsColumn1' [newsItem]='news' (removeNews)='onRemoveNews($event)' (editNews)='openEditNewsDialog($event)'></app-news>
            </div>
            <div class="column">
                <app-news *ngFor='let news of newsColumn2' [newsItem]='news' (removeNews)='onRemoveNews($event)' (editNews)='openEditNewsDialog($event)'></app-news>
            </div>
            <div class="column">
                <app-news *ngFor='let news of newsColumn3' [newsItem]='news' (removeNews)='onRemoveNews($event)' (editNews)='openEditNewsDialog($event)'></app-news>
            </div>
        </div>
    </div>
    <app-news-editform [initialNews]='newsToEdit' (saveNews)='onSaveNews($event)' (closeNews)='onCloseEditForm($event)'>
        <app-header-editform [title]='isEditMode ? "Изменить новость" : "Добавить новость"' (closeNews)='onCloseEditForm($event)'></app-header-editform>
    </app-news-editform>
    <app-context-menu #contextMenuComponent (selectAll)="onSelectAll()"></app-context-menu>
</div>
