<div (click)="hideContextMenu()">
    <div class='newsList' (contextmenu)="openContextMenu($event)">
        <button class="news-list-button" (click)="openAddNewsDialog()">Добавить</button>
        <button class="news-list-button" [disabled]="!hasSelectedNews()" (click)="removeSelectedNews()" *showByRoles>Удалить</button>
        <div class="newsSearch">
            <label for="search">Поиск: </label>
            <input type="text" id="search" [formControl]="search"/>
        </div>
        <div class="row" *ngFor="let row of newsGrid">
            <div class="column" *ngFor="let news of row">
                <app-news [newsItem]='news' (removeNews)='onRemoveNews($event)' (editNews)='openEditNewsDialog($event)'></app-news>
            </div>
        </div>
    </div>
    <app-context-menu #contextMenuComponent (selectAll)="onSelectAll()"></app-context-menu>
</div>
