<div class="newsStyle" [class.grayBackground]="post.isSelected">
    <div class="checkboxStyle">
        <input #checkbox type="checkbox" [checked]="post.isSelected" (change)="selectedPostHandler(checkbox.checked, post)"/>
    </div>
    <div class="postStyle">
        <p>{{post.date}}</p>
        <p>Заголовок: {{post.title}}</p>
    </div>
    <div class="buttonStyle">
        <button (click)="editPostHandler()" >Редактировать</button>
        <button [disabled]="!post.isSelected" (click)="deletePostHandler()">Удалить</button>
    </div>
</div>
