.sub {
  width: 100%;
  height: 100%;
  position: absolute; top:0; left:0;
}

.context-menu {
  position: absolute;
}

.context-menu div {
  padding: 10px;
  background-color: cyan;
  border: 1px solid;
}
