<app-post-editor #modalWindowPostEdit (savePost)="onSavePost($event)" (cancelEditPost)="onCancelEditPost()" [edit_post_data] = editedPost [user_data]="userRights">

    <div style="width: 100%; height: 20px; background-color: darkgray; text-align: right; cursor:default; ">
        <div style="width: 25%; display: inline-block; height: 20px; float: left;"></div>
        <div style="float: left;  text-align: left; ">
            {{editorTitle}}
        </div>
        <div (click)="onCancelEditPost()" style="background-color: coral; color: black; width: 20px; height: 20px; display: inline-block; text-align: center;">
            X
        </div>
    </div>
    
</app-post-editor>