<div class='newsItem' [ngClass]='news.selected ? "selectedNews" : ""'>
    <div class='newsContent'>
        <div class='newsColumn'>
            <input type='checkbox' [checked]='news.selected' (change)='changeSelection($event, news)'>
        </div>
        <div class='newsColumn'>
            <div>{{news.date | date:'dd.MM.yyyy'}}</div>
            <h4>{{news.title}}</h4>
        </div>
    </div>
    <div class="news-actions">
        <button class="news-button" (click)='openEditNewsDialog($event, news)'>Редактировать</button>
        <button class="news-button" [disabled]='!news.selected' (click)='remove($event, news)'>Удалить</button>
    </div>
</div>
