.newsColumn {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.infoColumn {
    width: -webkit-fill-available;
}
.newsItem {
    border: solid 1px;
    padding: 5px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.newsContent {
    display: flex;
}
.selectedNews {
    background-color: lightgrey;
}
.dateDiv {
    display: inline-block;
}
.newsTypeDiv {
    float: right;
}

.news-button {
    margin-left: 5px;
  }
  
.news-actions {
    text-align: end;
}
