.overlay {
    opacity: 0.98;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
}

.close {
    font-size: 24px;
    margin-right: 0;
    cursor: pointer;
    float: right;
}
.header {
    font-weight: bold;
}
.modal-window {
    opacity: 1;
    width: 50%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 30%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: teal;
}

.modal-window-menu {
    opacity: 1;
    background-color:thistle;
    width: 100%;
    height: 10%;
}
.content{
    opacity: 1;
}