<form [formGroup]="form" (ngSubmit)="submit()">
  <ng-container *ngFor="let t of templates">
    <ng-container *ngTemplateOutlet="fieldTpl; context:t"></ng-container>
  </ng-container>
  <ng-template #fieldTpl let-name="name" let-header="header" let-type="type" let-enum="enum" let-colors="colors">
    <label for={{name}}>{{header}}: </label>
    <ng-container *ngTemplateOutlet="type=='radio' ? radioTpl : inputTpl; context: { name: name, header: header, type: type, enum: enum, colors: colors }">
    </ng-container>
    <div class="error" *ngIf="form?.get(name)?.hasError('required')">
      {{"Поле \"" + header + "\" обязательно для заполнения"}}
    </div>
    <div class="error" *ngIf="form?.get(name)?.hasError('minlength')">
      {{"Поле \"" + header + "\" должно содержать следующее количество символов: " + form?.get(name)?.getError('minlength')?.requiredLength}}
    </div>
    <div class="error" *ngIf="form?.get(name)?.hasError('email')">
      {{"Поле \"" + header + "\" должно содержать корректный email"}}
    </div>
    <br /><br />
  </ng-template>
  <ng-template #inputTpl let-header="header" let-name="name" let-type="type">
    <input class="edit-input" id={{header}} type={{type}} formControlName={{name}} value="report.{{name}}">
  </ng-template>
  <ng-template #radioTpl let-name="name" let-enum="enum" let-colors="colors">
    <app-custom-radio [enum]="enum" [colors]="colors" formControlName={{name}}></app-custom-radio>
  </ng-template>
  <ng-container *ngIf="canSubmit">
    <button [disabled]="!form?.valid" *appRights="roleEnum.ModalSaver" type="submit">{{submitName}}</button>
  </ng-container><ng-content></ng-content>
</form>
