.header-div{
    text-align: center;
    margin: 0 auto;
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 300%;
        margin-bottom: 10%;
    }
}