<form [formGroup]="editReportForm" (ngSubmit)="submit()">
  <ng-container *ngTemplateOutlet="fieldTpl; context: { name: 'header', header: 'Заголовок', type: 'text' }"></ng-container>
  <ng-container *ngTemplateOutlet="fieldTpl; context: { name: 'body', header: 'Новость', type: 'text' }"></ng-container>
  <ng-container *ngTemplateOutlet="fieldTpl; context: { name: 'timestamp', header: 'На момент времени', type: 'date' }"></ng-container>
  <ng-container *ngTemplateOutlet="fieldTpl; context: { name: 'type', header: 'Тип новости', type: 'radio', enum: newsTypeEnum, colors: newsTypeColors }"></ng-container>
  <ng-template #fieldTpl let-name="name" let-header="header" let-type="type" let-enum="enum" let-colors="colors">
    <label for="{{name}}">{{header}}: </label>
    <ng-container *ngTemplateOutlet="type=='radio' ? radioTpl : inputTpl; context: { name: name, header: header, type: type, enum: enum, colors: colors }">
    </ng-container>
    <div class="error" *ngIf="editReportForm?.get(name)?.hasError('required')">
      {{"Поле \"" + header + "\" обязательно для заполнения"}}
    </div>
    <div class="error" *ngIf="editReportForm?.get(name)?.hasError('minlength')">
      {{"Поле \"" + header + "\" должно содержать следующее количество символов: " + editReportForm?.get(name)?.getError('minlength')?.requiredLength}}
    </div>
    <br /><br />
  </ng-template>
  <ng-template #inputTpl let-name="name" let-type="type">
    <input class="edit-input" id="header" type="{{type}}" formControlName="{{name}}" value="report.{{name}}">
  </ng-template>
  <ng-template #radioTpl let-name="name" let-enum="enum" let-colors="colors">
    <div *ngFor="let item of enum | keyvalue">
      <app-crazy-radio [appNewsTypeStyle]="colors.get(item.value)" value="{{item.value}}" formControlName={{name}}>{{item.value}}</app-crazy-radio>
    </div>
  </ng-template>
  <button [disabled]="!editReportForm?.valid" *appRights="roleEnum.ModalSaver" type="submit">Coхранить</button>
</form>
