<div [formGroup]="loginForm">
  <div>
    <label for="login">Логин</label>
    <input
      id="login"
      type="text"
      value="login"
      formControlName="loginControl"
    />
  </div>
  <ng-container
    [ngTemplateOutlet]="error"
    [ngTemplateOutletContext]="{
      show: loginForm.get('loginControl')?.errors,
      error: loginForm.get('loginControl')?.errors
    }"
  >
  </ng-container>

  <div>
    <label for="password">Пароль</label>
    <input
      id="password"
      type="text"
      value="password"
      formControlName="passwordControl"
    />
  </div>
  <ng-container
    [ngTemplateOutlet]="error"
    [ngTemplateOutletContext]="{
      show: loginForm.get('passwordControl')?.errors,
      error: loginForm.get('passwordControl')?.errors
    }"
  >
  </ng-container>

  <div>
    <input
      class="button"
      type="button"
      (click)="onLogin()"
      value="Вход"
      [disabled]="!loginForm.valid"
    />
  </div>
  <ng-container
    [ngTemplateOutlet]="error"
    [ngTemplateOutletContext]="{
      show: loginForm?.errors,
      error: {message:'Неверный логин или пароль'}
    }"
  >
  </ng-container>

</div>

<ng-template
  #profileInput
  let-idName="idName"
  let-labelValue="labelValue"
  let-inputValue="inputValue"
  let-errors="errors"
  let-controlName="controlName"
>
  <div>
    <label for="idName">{{ labelValue }}</label>
    <input
      id="idName"
      type="text"
      value="{{ inputValue }}"
      formControlName="controlName"
    />
  </div>
  <ng-container
    [ngTemplateOutlet]="error"
    [ngTemplateOutletContext]="{
      show: errors,
      error: errors
    }"
  >
  </ng-container>
</ng-template>

<ng-template #error let-show="show" let-error="error">
  <div *ngIf="show">
    <span class="errorText">{{ error?.message ?? "Поле должно быть заполнено" }}</span>
  </div>
</ng-template>
